* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

@font-face {
    font-family: 'SF-Pro-Display-Regular' ;
    src: url(../fonts/SF-Pro-Display-Regular.otf);
}

@font-face {
    font-family: 'SF-Pro-Display-Medium';
    src: url(../fonts/SF-Pro-Display-Medium.otf);
}

@font-face {
    font-family: 'SF-Pro-Display-Semibold';
    src: url(../fonts/SF-Pro-Display-Semibold.otf);
}

@font-face {
    font-family: 'SF-Pro-Text-Regular';
    src: url(../fonts/SF-Pro-Text-Regular.otf);
}

:root{
    --display-regular: 'SF-Pro-Display-Regular';
    --display-medium: 'SF-Pro-Display-Medium';
    --display-semibold: 'SF-Pro-Display-Semibold';
    --text-regular: 'SF-Pro-Text-Regular';
}

body {
 background: black;
 color: white ;
 -webkit-font-smoothing: antialiased;
}

body, input, button {
 font-family: var(--text-regular);
}

button {
 cursor: pointer;
}

/* ---------------------------------------------- */


/* HEADER */

.main__header{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(22, 22, 23);

    width: 100%;
    min-height: 44px;
    gap: 20px;
}

.header__nav{
    display: flex;
    gap: 10px;
}

.nav__a{
    color: white;
    text-decoration: none;
    font-size: 13px;
    font-weight: 400;
    font-family: var(--text-regular);
}

.header__icons{
    display: flex;
    gap: 20px;
}


.menu__oculto{
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;   
    height: 100vh;
    background: black;
    padding: 80px 20px;
    transition: right 0.3s ease;
    z-index: 999;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu__oculto.active{
    right: 0;
}

.boton__menu{
    display: none;
}

.oculto__movil{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nav__a-oculto{
    color: white;
    text-decoration: none;
    font-size: 23px;
    font-weight: 400;
    font-family: var(--text-regular);
}

.cerrar{
    display: flex;
    justify-content: end;
    background: none;
    border: none;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgb(0, 0, 0, 0.4);
  display: none;
  z-index: 998;
}

.overlay.active {
  display: block;
}
/* ---------------------------------------------- */

/* MAIN */

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 420px;
}

.top__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 1050px;
    gap:25px;
}

.top__video{
    width: 286px;
    height: 60px;
    pointer-events: none;
}

h1{
    font-size: 80px;
    font-weight: 600;
    font-family: var(--display-semibold);
    text-align: center;
    width: 100%;
}

.video__content{
    width: 1016px;
    height:300px;
}

.middle__video{
    width: 100%;
    height: 100%;
    pointer-events: none;
}



.text__bottom-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;

    width: 954px;
    height: 100px;

    gap:25px
}


span{
    color: white;
}

.main__p{
    font-family: var(--text-regular);
    color: rgba(134, 134, 134, 1);
}

.more__p{
    font-family: var(--text-regular);
    color: rgba(134, 134, 134, 1);
}

@media (max-width: 768px) {

    .main__header{
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
    }
    .header__nav{
        display: none;
    }

    .boton__menu{
        display: block;
        background: none;
        border: none;
    }


    main{
        padding: 20px 20px;
    }

    .top__content{
        width: 100%;
        gap:10px
    }

    .top__video{
        width: 200px
    }

    h1{
        font-size: 60px;
    }

    .video__content{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .middle__video{
        width: 703px;
        height: 208px;
    }

    .text__bottom-content{
        width: 100%;
        gap: 5px;
    }

    .main__p{
        font-size: 16px;
        text-align: justify;
    }

    .more__p{
        font-size: 14px;
        text-align: justify;
    }
}